apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-netflix
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-netflix
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-netflix
    spec:
      containers:
        - name: netflix
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.container.port }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
